version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    depends_on:
      - broker
      - postgres
    command: sh -c "
      sleep 4 &&
      ./bin/webhookrelay-api"
    environment:
      DSN: postgres://postgres:password@postgres:5432/webhookrelay
      WEBHOOKDISPATCHER_ADDRESS: https://webhookdispatcher.broswen.com
      REDIS_ADDR: redis:6379
      API_ADDR: ":8080"
      GRPC_ADDR: ":8000"
      METRICS_ADDR: ":8081"
    ports:
      - "8080:8080"
      - "8000:8000"
      - "8081:8081"
  publisher:
    build:
      context: .
      dockerfile: Dockerfile.publisher
    depends_on:
      - broker
      - postgres
    command: sh -c "
      sleep 4 &&
      ./bin/webhookrelay-publisher"
    environment:
      BROKERS: broker:9092
      DSN: postgres://postgres:password@postgres:5432/webhookrelay
      TOPIC: webhooks
      METRICS_ADDR: ":8081"
  provisioner:
    build:
      context: .
      dockerfile: Dockerfile.provisioner
    depends_on:
      - broker
    command: sh -c "
      sleep 4 &&
      ./bin/webhookrelay-provisioner"
    environment:
      BROKERS: broker:9092
      TOPIC: webhooks
      GROUP: webhookrelay-provisioner
      WEBHOOKDISPATCHER_ADDRESS: https://webhookdispatcher.broswen.com
      METRICS_ADDR: ":8081"
  postgres:
    container_name: postgres
    hostname: postgres
    build:
      context: sql
      dockerfile: Dockerfile
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: webhookrelay
    ports:
      - "5432:5432"
  broker:
    container_name: broker
    hostname: broker
    image: apache/kafka:latest
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
  redis:
    container_name: redis
    hostname: redis
    image: redis:7.0.7
    ports:
      -  "6379:6379"
